langchain
langchain-core
langchain-community
langgraph
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
python-dotenv
faiss-cpu
tiktoken
fastapi
uvicorn
requests
langgraph
langsmith
langchain-tavily
langchain-mcp-adapters
mcp
langgraph
deepagents
tavily-python